<h3>정보 업데이트</h3>

<mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]="step === 0" hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          홈페이지 타이틀
        </mat-panel-title>
        <mat-panel-description>
          홈페이지의 타이틀 명칭을 설정합니다.
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      
      <div class="field">
        <mat-form-field color="accent">
          <input matInput placeholder="Title">
        </mat-form-field>
      </div>

      <mat-action-row>
        <button mat-button color="primary" (click)="setStep(1)">다음</button>
      </mat-action-row>
    </mat-expansion-panel>
  
    <mat-expansion-panel [expanded]="step === 1" hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          홈페이지 테마
        </mat-panel-title>
        <mat-panel-description>
          홈페이지의 테마 색상을 설정합니다.
          <mat-icon>color_lens</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <div class="field">
        <mat-form-field color="accent">
          <input matInput placeholder="Color">
        </mat-form-field>
      </div>
  
      <mat-action-row>
        <button mat-button color="warn" (click)="setStep(0)">이전으로</button>
        <button mat-button color="primary" (click)="setStep(-1)">닫기</button>
      </mat-action-row>
    </mat-expansion-panel>
  
  </mat-accordion>

  <div class="update">
    <button color="accent" mat-raised-button>업데이트</button>
  </div>