<div class="wrapper">
    
    <div class="box a">
        
        <h4>패널</h4>

        <div class="field">
            <button *ngFor="let tap of tapBoard;" class="panel" mat-button (click)="selected(tap.id)">
                {{ tap.name }}
            </button>
        </div>

    </div>

    <div class="box b">
        
        <h4>세부 정보</h4>

        <div class="field">

            <div class="selected-not" *ngIf="!selectedBoard && selectedGroup.value !== 'create'">
                
                <h2>패널을 선택해주세요</h2>

            </div>

            <div class="selected-wrapper" *ngIf="selectedBoard || selectedGroup.value === 'create'">

                <div *ngIf="selectedGroup.value !== 'create'">
                    <mat-form-field color="accent">
                        <input matInput placeholder="게시판 타이틀" [disabled]="selectedGroup.value !== 'edit'" [value]="selectedBoard.name">
                    </mat-form-field>
                    <mat-form-field color="accent">
                        <input matInput placeholder="게시판 주소" [disabled]="selectedGroup.value !== 'edit'" [value]="selectedBoard.uri">
                    </mat-form-field>
                    <mat-slide-toggle color="accent" [checked]="selectedBoard.isButton" [disabled]="selectedGroup.value !== 'edit'" #editPanelWriteToggle>글작성 허용{{ editPanelWriteToggle.checked ? '' : '안함' }}</mat-slide-toggle>
                </div>

                <div *ngIf="selectedGroup.value === 'create'">
                    <mat-form-field color="accent">
                        <input matInput placeholder="게시판 제목">
                    </mat-form-field>
                    <mat-form-field color="accent">
                        <input matInput placeholder="게시판 주소">
                    </mat-form-field>
                    <mat-slide-toggle color="accent" [checked]="true" #createPanelWriteToggle>글작성 허용{{ createPanelWriteToggle.checked ? '' : '안함' }}</mat-slide-toggle>
                </div>
            </div>
            
            <div class="selected-btn">
                <button (click)="send(selectedGroup.value, selectedBoard)" color="accent" *ngIf="selectedBoard || selectedGroup.value === 'create'" mat-icon-button>
                    <mat-icon *ngIf="selectedGroup.value !== 'create' && selectedGroup.value === 'remove'">delete_sweep</mat-icon>
                    <mat-icon *ngIf="selectedGroup.value !== 'create' && selectedGroup.value === 'edit'">mode_edit</mat-icon>
                    <mat-icon *ngIf="selectedGroup.value === 'create'">add_box</mat-icon>
                </button>
                <mat-button-toggle-group #selectedGroup="matButtonToggleGroup">
                    <mat-button-toggle value="edit" checked="true">수정</mat-button-toggle>
                    <mat-button-toggle value="remove">삭제</mat-button-toggle>
                    <mat-button-toggle value="create">추가</mat-button-toggle>
                </mat-button-toggle-group>
            </div>

        </div>

    </div>

</div>