.wrapper{
    margin: 0;
    padding: 0;
    width: 100%;
}


.content{
    overflow: hidden;
}

.btn{
  position: absolute;
  text-align : right;
  bottom : 2px;
  right: 0;
}

mat-toolbar{
  position: relative;
  margin: 0;
  padding: 0;
  background: transparent;
  color : #484848;
}

mat-toolbar span{
  cursor: pointer;
  margin-left: 5px;
}

@media screen and (max-width: 800px) {
    .wrapper{
      width: 100%;
    }
    .desktop-hidden {
      display: initial;
    }
    .mobile-hidden {
      display: none;
    }
  }
  @media screen and (min-width: 800px) {
    .desktop-hidden {
      display: none;
    }
    .mobile-hidden {
      display: initial;
    }
}