<div class="wrapper">
    <form [formGroup]="loginForm" novalidate>

        <mat-form-field class="field" color="accent">
            <input matInput placeholder="아이디" formControlName="id">
            <mat-hint align="end">
                {{ loginForm.controls.id.value.length }} / 20
            </mat-hint>
            <mat-error *ngIf="!loginForm.controls.id.valid">
                아이디가 비어져 있습니다.
            </mat-error>
        </mat-form-field>

        <mat-form-field class="field" color="accent">
            <input matInput placeholder="비밀번호"  [type]="passwordHide ? 'password' : 'text'" formControlName="password">
            <mat-icon matSuffix color="accent" (click)="passwordHide = !passwordHide">{{passwordHide ? 'visibility' : 'visibility_off'}}</mat-icon>            
            <mat-hint align="end">
                {{ loginForm.controls.password.value.length }} / 20
            </mat-hint>
            <mat-error *ngIf="!loginForm.controls.id.valid">
                비밀번호가 비어져 있습니다.
            </mat-error>
        </mat-form-field>

        <button class="field submit" color="accent" (click)="login(loginForm.value, loginForm.valid)" mat-raised-button>로그인</button>
        
        <mat-radio-group class="field notice" formControlName="keep">
            <mat-radio-button value="true" color="accent">로그인 유지</mat-radio-button>
        </mat-radio-group>

    </form>
</div>