.wrapper{
    margin-top : 15%;
}

.field{
    display: block;
    color: #4a4a4a; 
    width: 95%;
    max-width: 400px;
    margin: auto;
}

.field input{
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.06);
    font-size: 1.1rem;
    text-decoration: none;
    outline: none;    
}

.field mat-icon{
    cursor: pointer;
}

.submit{
    margin-top: 20px;
    color: #fff;
    font-size: 1.1rem;
    padding: 10px 10px 10px 10px;
    font-weight: 400;
    margin-bottom: 20px;
}

.notice{
    color: rgb(92, 92, 92);
    font-size: .9rem;
}

/deep/ .mat-form-field-underline{
    display: none;
}