<div class="wrapper">

    <div class="feed">
        <span class="feed-title" (click)="this.routerService.onRouter('/board/개념글')">개념글</span>
        <div class="content">
                <ngx-datatable
                class='material expandable'
                [columnMode]="'force'"
                [limit]="5"
                [headerHeight]="1"
                [rowHeight]="50"
                [scrollbarV]="false"
                [rows]='rows'
                (activate)="onActivate($event)">
                
                    <ngx-datatable-column name="title" [flexGrow]="3" [width]="400" [maxWidth]="600" [minWidth]="200">
    
                    <ng-template let-value="value" ngx-datatable-cell-template>
                        {{value}}
                    </ng-template>
                
                    </ngx-datatable-column>
                
                    <ngx-datatable-column name="write" [flexGrow]="2" [maxWidth]="100" [minWidth]="50">
    
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <span>{{value}}</span>
                    </ng-template>
                
                    </ngx-datatable-column>
                
                    <ngx-datatable-column name="date" [flexGrow]="1" [maxWidth]="100">
                
                    <ng-template let-value="value" ngx-datatable-cell-template>
                        <span class="mobile-hidden">{{value}}</span>
                    </ng-template>
                
                    </ngx-datatable-column>
                    
                
                    <ngx-datatable-column name="hits" [flexGrow]="1" [maxWidth]="100">
    
                        <ng-template let-value="value" ngx-datatable-cell-template>
                        <span class="mobile-hidden">{{value}}</span>
                        </ng-template>
                
                    </ngx-datatable-column>
                    
                    <ngx-datatable-column name="likes" [flexGrow]="1" [maxWidth]="100">
                
                        <ng-template let-value="value" ngx-datatable-cell-template>
                        <span class="mobile-hidden">{{value}}</span>
                        </ng-template>
                
                    </ngx-datatable-column>
                
                </ngx-datatable>
        </div>
    </div>
    <div class="feed main">
        <span class="feed-title" (click)="this.routerService.onRouter('/board/최근글')">최근글</span>
        <div class="content">
            <ngx-datatable
            class='material expandable'
            [columnMode]="'force'"
            [limit]="10"
            [headerHeight]="1"
            [rowHeight]="50"
            [scrollbarV]="false"
            [rows]='rows'
            (activate)="onActivate($event)">
            
                <ngx-datatable-column name="title" [flexGrow]="3" [width]="400" [maxWidth]="600" [minWidth]="200">

                <ng-template let-value="value" ngx-datatable-cell-template>
                    {{value}}
                </ng-template>
            
                </ngx-datatable-column>
            
                <ngx-datatable-column name="write" [flexGrow]="2" [maxWidth]="100" [minWidth]="50">

                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <span>{{value}}</span>
                </ng-template>
            
                </ngx-datatable-column>
            
                <ngx-datatable-column name="date" [flexGrow]="1" [maxWidth]="100">
            
                <ng-template let-value="value" ngx-datatable-cell-template>
                    <span class="mobile-hidden">{{value}}</span>
                </ng-template>
            
                </ngx-datatable-column>
                
            
                <ngx-datatable-column name="hits" [flexGrow]="1" [maxWidth]="100">

                    <ng-template let-value="value" ngx-datatable-cell-template>
                    <span class="mobile-hidden">{{value}}</span>
                    </ng-template>
            
                </ngx-datatable-column>
                
                <ngx-datatable-column name="likes" [flexGrow]="1" [maxWidth]="100">
            
                    <ng-template let-value="value" ngx-datatable-cell-template>
                    <span class="mobile-hidden">{{value}}</span>
                    </ng-template>
            
                </ngx-datatable-column>
            
            </ngx-datatable>
        </div>
    </div>
</div>