.wrapper{
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

.ad{
  border: .1px solid rgba(0, 0, 0, 0.15);
}

.ad.top,
.ad.middle,
.ad.bottom{
  height: 100px;
  margin-bottom: 20px;
}

.ad.top{
  height: 400px;
}

.feed{
    margin: 0;
    padding: 0;
    width: 100%;
}

.content{
    border: 1px solid rgba(0, 0, 0, 0.15);
    overflow: hidden;
    border-top: none;
    border-bottom: none;
}

.btn{
  position: absolute;
  text-align : right;
  bottom : 0;
  right: 0;
}

mat-toolbar{
  position: relative;
  margin: 0;
  padding: 0;
  background: transparent;
}

mat-toolbar span{
  cursor: pointer;
}

@media screen and (max-width: 800px) {
    .wrapper{
      width: 100%;
    }
    .desktop-hidden {
      display: initial;
    }
    .mobile-hidden {
      display: none;
    }
  }
  @media screen and (min-width: 800px) {
    .desktop-hidden {
      display: none;
    }
    .mobile-hidden {
      display: initial;
    }
  }