<div class="wrapper">

    <div class="list">
      <app-detail-comment-entry></app-detail-comment-entry>
      <app-detail-comment-entry [replyThread]="1"></app-detail-comment-entry>
      <app-detail-comment-entry [replyThread]="1"></app-detail-comment-entry>
      <app-detail-comment-entry [replyThread]="2"></app-detail-comment-entry>
      <app-detail-comment-entry [replyThread]="0"></app-detail-comment-entry>
    </div>
    
    <mat-form-field class="write" color="accent">
      <textarea [(ngModel)]="commentText" matInput placeholder="코멘트 작성" matTextareaAutosize matAutosizeMinRows="2"></textarea>
    </mat-form-field>
    
    <div class="write-btn">
      <button (click)="sendComment()" color="accent" mat-raised-button>코멘트 등록</button>
    </div>

</div>