<div class="wrapper">

    <div class="list">
      
      <div class="comment">
        <div class="title">
          <div class="info left">댓글 작성자</div>
          <div class="info right">
            2017.11.07 13:25
            <button color="accent" mat-icon-button>
              <mat-icon>create</mat-icon>
            </button>
          </div>
        </div>
        <div class="content">
          댓글 테스트입니다. 댓글 테스트입니다. 댓글 테스트입니다. 댓글 테스트입니다. 댓글 테스트입니다.
        </div>
      </div>

      <div class="comment">
        <div class="title">
          <div class="info left">댓글 작성자</div>
          <div class="info right">
            2017.11.07 13:25
            <button color="accent" mat-icon-button>
              <mat-icon>create</mat-icon>
            </button>
          </div>
        </div>
        <div class="content">
          댓글 테스트입니다. 댓글 테스트입니다. 댓글 테스트입니다. 댓글 테스트입니다. 댓글 테스트입니다.
        </div>
      </div>
      
    </div>
    
    <mat-form-field class="write" color="accent">
      <textarea matInput placeholder="코멘트 작성" matTextareaAutosize matAutosizeMinRows="2"></textarea>
    </mat-form-field>
    
    <div class="write-btn">
      <button color="accent" mat-raised-button>코멘트 등록</button>
    </div>

</div>